.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 30em;
  z-index: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.antenna {
  width: 5em;
  height: 5em;
  border-radius: var(--radius-50);
  border: 2px solid var(--color-black);
  background-color: var(--color-orange);
  margin-bottom: -6em;
  margin-left: 0em;
  z-index: 9;
}

.antenna::after {
  content: "";
  position: absolute;
  margin-top: -9.4em;
  margin-left: 0.4em;
  transform: rotate(-25deg);
  width: 1em;
  height: 0.5em;
  border-radius: var(--radius-50);
  background-color: var(--color-light-orange);
}

.antenna::before {
  content: "";
  position: absolute;
  margin-top: 0.2em;
  margin-left: 1.25em;
  transform: rotate(-20deg);
  width: 1.5em;
  height: 0.8em;
  border-radius: var(--radius-50);
  background-color: var(--color-light-orange);
}

.a1 {
  position: relative;
  top: -97%;
  left: -125%;
  width: 12em;
  height: 5.5em;
  border-radius: var(--radius-50-pixel);
  background-image: linear-gradient(
    var(--color-antenna-a2-1),
    var(--color-antenna-a2-1),
    var(--color-antenna-a2-2),
    var(--color-antenna-a2-2),
    var(--color-antenna-a2-1)
  );
  transform: rotate(-29deg);
  clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
}

.a1d {
  position: relative;
  top: -211%;
  left: -40%;
  transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  border-radius: var(--radius-50);
  border: 2px solid var(--color-antenna-a1-border);
  background-color: var(--color-antenna-a1);
  z-index: 99;
}

.a2 {
  position: relative;
  top: -203%;
  left: -10%;
  width: 12em;
  height: 4em;
  border-radius: var(--radius-50-pixel);
  background-color: var(--color-antenna-black1);
  background-image: linear-gradient(
    var(--color-antenna-a2-1),
    var(--color-antenna-a2-1),
    var(--color-antenna-a2-2),
    var(--color-antenna-a2-2),
    var(--color-antenna-a2-1)
  );
  margin-right: 5em;
  clip-path: polygon(
    47% 0,
    47% 0,
    34% 34%,
    54% 25%,
    32% 100%,
    29% 96%,
    49% 32%,
    30% 38%
  );
  transform: rotate(-8deg);
}

.a2d {
  position: relative;
  top: -294%;
  left: 94%;
  width: 0.5em;
  height: 0.5em;
  border-radius: var(--radius-50);
  border: 2px solid var(--color-antenna-a1-border);
  background-color: var(--color-antenna-a1);
  z-index: 99;
}

.notfoundText {
  background-color: var(--color-black);
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: var(--font-mini);
  color: var(--color-white);
  letter-spacing: 0;
  border-radius: var(--radius-5);
  z-index: 10;
}

.tv {
  width: 20em;
  height: 10em;
  margin-top: 3em;
  border-radius: var(--radius-15);
  background-color: var(--color-medium-orange);
  display: flex;
  justify-content: center;
  border: 2px solid var(--color-tv-black1);
  box-shadow: inset 0.2em 0.2em var(--color-tv-orange);
  z-index: 9;
}

.tv::after {
  content: "";
  position: absolute;
  width: 17em;
  height: 9em;
  border-radius: var(--radius-15);
  background:
    repeating-radial-gradient(var(--color-medium-orange) 0 0.0001%, var(--color-tv-black2) 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(var(--color-medium-orange) 0 0.0001%, var(--color-tv-black2) 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  opacity: 0.09;
}

.curveSvg {
  position: absolute;
  margin-top: 0.25em;
  margin-left: -0.25em;
  height: 12px;
  width: 12px;
}

.displayDiv {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: var(--radius-15);
  box-shadow: 3.5px 3.5px 0px var(--color-tv-orange);
}

.screenOut {
  width: auto;
  height: auto;
  border-radius: var(--radius-10);
}

.screenOut1 {
  width: 11em;
  height: 7.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-10);
}

.screen {
  width: 13em;
  height: 7.85em;
  font-family: Montserrat;
  border: 2px solid var(--color-tv-black1);
  background:
    repeating-radial-gradient(var(--color-black) 0 0.0001%, var(--color-white) 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(var(--color-black) 0 0.0001%, var(--color-white) 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  animation: b 0.2s infinite alternate;
  border-radius: var(--radius-10);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--weight-bold);
  color: var(--color-screen-black);
  letter-spacing: 0.15em;
  text-align: center;
}

.screenM {
  width: 13em;
  height: 7.85em;
  position: relative;
  font-family: Montserrat;
  background: linear-gradient(
    to right,
    var(--color-screenM-blue1) 0%,
    var(--color-screenM-blue2) 14.2857142857%,
    var(--color-screenM-black1) 14.2857142857%,
    var(--color-screenM-black2) 28.5714285714%,
    var(--color-screenM-pink1) 28.5714285714%,
    var(--color-screenM-pink2) 42.8571428571%,
    var(--color-screenM-gray1) 42.8571428571%,
    var(--color-screenM-gray2) 57.1428571429%,
    var(--color-screenM-mint1) 57.1428571429%,
    var(--color-screenM-mint2) 71.4285714286%,
    var(--color-screenM-black1) 71.4285714286%,
    var(--color-screenM-black2) 85.7142857143%,
    var(--color-white) 85.7142857143%,
    var(--color-screenM-white) 100%
  );
  border-radius: var(--radius-10);
  border: 2px solid var(--color-black);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--weight-bold);
  color: var(--color-screen-black);
  letter-spacing: 0.15em;
  text-align: center;
  overflow: hidden;
}

.screenM:before,
.screenM:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
}

.screenM:before {
  top: 0;
  height: 68.4782608696%;
  background: linear-gradient(
    to right,
    var(--color-white) 0%,
    var(--color-screenM-white) 14.2857142857%,
    var(--color-screenM-yellow1) 14.2857142857%,
    var(--color-screenM-yellow2) 28.5714285714%,
    var(--color-screenM-mint1) 28.5714285714%,
    var(--color-screenM-mint2) 42.8571428571%,
    var(--color-screenM-green1) 42.8571428571%,
    var(--color-screenM-green2) 57.1428571429%,
    var(--color-screenM-pink1) 57.1428571429%,
    var(--color-screenM-pink2) 71.4285714286%,
    var(--color-screenM-red1) 71.4285714286%,
    var(--color-screenM-red2) 85.7142857143%,
    var(--color-screenM-blue1) 85.7142857143%,
    var(--color-screenM-blue2) 100%
  );
}

.screenM:after {
  bottom: 0;
  height: 21.7391304348%;
  background: linear-gradient(
    to right,
    var(--color-screenM-green3) 0%,
    var(--color-screenM-green4) 16.6666666667%,
    var(--color-white) 16.6666666667%,
    var(--color-screenM-white) 33.3333333333%,
    var(--color-screenM-blue3) 33.3333333333%,
    var(--color-screenM-blue4) 50%,
    var(--color-screenM-gray1) 50%,
    var(--color-screenM-gray2) 66.6666666667%,
    var(--color-screenM-gray3) 66.6666666667%,
    var(--color-screenM-gray4) 83.3333333333%,
    var(--color-screenM-black1) 83.3333333333%,
    var(--color-screenM-black2) 100%
  );
}

@keyframes b {
  100% {
    background-position:
      50% 0,
      60% 50%;
  }
}

.lines {
  display: flex;
  column-gap: 0.1em;
  align-self: flex-end;
}

.line1,
.line3 {
  width: 2px;
  height: 0.5em;
  background-color: var(--color-black);
  border-radius: var(--radius-25) var(--radius-25) var(--radius-0) var(--radius-0);
  margin-top: 0.5em;
}

.line2 {
  flex-grow: 1;
  width: 2px;
  height: 1em;
  background-color: var(--color-black);
  border-radius: var(--radius-25) var(--radius-25) var(--radius-0) var(--radius-0);
}

.buttonsDiv {
  width: 4.25em;
  align-self: center;
  height: 8em;
  background-color: var(--color-tv-orange);
  border: 2px solid var(--color-tv-black1);
  padding: 0.6em;
  border-radius: var(--radius-10);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.75em;
  box-shadow: 3px 3px 0px var(--color-tv-orange);
  z-index: 10;
}

.b1 {
  width: 1.65em;
  height: 1.65em;
  border-radius: var(--radius-50);
  background-color: var(--color-brown);
  border: 2px solid var(--color-black);
  box-shadow:
  inset 2px 2px 1px var(--color-light-brown),
  -2px 0px var(--color-dark-brown),
  -2px 0px 0px 1px var(--color-black);
}

.b1::before {
  content: "";
  position: absolute;
  margin-top: 1em;
  margin-left: 0.5em;
  transform: rotate(47deg);
  border-radius: var(--radius-5);
  width: 0.1em;
  height: 0.4em;
  background-color: var(--color-black);
}

.b1::after {
  content: "";
  position: absolute;
  margin-top: 0.9em;
  margin-left: 0.8em;
  transform: rotate(47deg);
  border-radius: var(--radius-5);
  width: 0.1em;
  height: 0.55em;
  background-color: var(--color-black);
}

.b1 div {
  content: "";
  position: absolute;
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: var(--color-black);
}

.b2 {
  width: 1.65em;
  height: 1.65em;
  border-radius: var(--radius-50);
  background-color: var(--color-brown);
  border: 2px solid var(--color-black);
  box-shadow:
  inset 2px 2px 1px var(--color-light-brown),
  -2px 0px var(--color-dark-brown),
  -2px 0px 0px 1px var(--color-black);
}

.b2::before {
  content: "";
  position: absolute;
  margin-top: 1.05em;
  margin-left: 0.8em;
  transform: rotate(-45deg);
  border-radius: var(--radius-5);
  width: 0.15em;
  height: 0.4em;
  background-color: var(--color-black);
}

.b2::after {
  content: "";
  position: absolute;
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(-45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: var(--color-black);
}

.speakers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.speakers .g1 {
  display: flex;
  column-gap: 0.25em;
}

.speakers .g1 .g11,
.g12,
.g13 {
  width: 0.65em;
  height: 0.65em;
  border-radius: var(--radius-50);
  background-color: var(--color-brown);
  border: 2px solid var(--color-black);
  box-shadow: inset 1.25px 1.25px 1px var(--color-light-brown);
}

.speakers .g {
  width: auto;
  height: 2px;
  background-color: var(--color-antenna-black1);
}

.bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8.7em;
  z-index: 8;
}

.base1 {
  height: 1em;
  width: 2em;
  border: 2px solid var(--color-antenna-black1);
  background-color: var(--color-antenna-base1);
  margin-top: -0.15em;
  z-index: -1;
}

.base2 {
  height: 1em;
  width: 2em;
  border: 2px solid var(--color-antenna-black1);
  background-color: var(--color-antenna-base1);
  margin-top: -0.15em;
  z-index: -1;
}

.base3 {
  position: absolute;
  height: 0.15em;
  width: 17.5em;
  background-color: var(--color-antenna-base3);
  margin-top: 0.8em;
}

.text404 {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 20em;
  z-index: 1;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-family: Montserrat;
  color: var(--color-error-text);
}

.text4041 {
  transform: scaleY(24.5) scaleX(9);
}

.text4042 {
  transform: scaleY(24.5) scaleX(9);
}

.text4043 {
  transform: scaleY(24.5) scaleX(9);
}

@media (max-width: 275px), (max-height: 520px) {
  .main {
    position: relative;
  }
}

@media only screen and (max-width: 1024px) {
  .screenM {
    display: flex;
  }

  .screen {
    display: none;
  }

  .text404 {
    column-gap: 16em;
  }
}

@media only screen and (max-width: 768px) {
  .text404 {
    column-gap: 10em;
  }
}

@media only screen and (min-width: 1025px) {
  .screen {
    display: flex;
  }

  .screenM {
    display: none;
  }
}
