.commentWrappers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.totalCount {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.commentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}