.commentsWrappers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.commentsTotalCount {
  color: var(--color-video-title);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.commentsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

@media (max-width: 390px) {
  .commentsContainer {
    gap: 0;
  }
}