.replyContainer {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  padding-left: 2rem;
}

.totalCountButton {
  width: fit-content;
  display: flex;
  align-items: center;
  border: none;
  border-radius: var(--radius-20);
  background: var(--color-background);
  color: var(--color-reply-button-text);
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  padding: .4rem 1rem;
}

.totalCountButton:hover {
  background: var(--color-reply-button-hover);
}

.totalCountLabel {
  padding-bottom: .1rem;
}

.replyWrappers {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  padding-left: 2rem;
}

@media (max-width: 390px) {
  .replyWrappers {
    padding-left: 1rem;
  }
}