.videoDetailContainer {
  padding: 7rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.channelContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 4;
}

.videoPlayer {
  width: 100%;
  border-radius: var(--radius-12);
  border: none;
  aspect-ratio: 16 / 9;
}

.channelInfoContainer {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.videoTitle {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  padding: .4rem;
}

.videoDescription {
  font-family: "Roboto", "Arial", sans-serif;
  background: var(--color-light-gray);
  border-radius: var(--radius-12);
  white-space: pre-wrap;
  word-break: break-word;
  padding: 1rem;
  color: var(--color-light-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  line-height: 1.5;
}

.relatedVideosContainer {
  flex: 2.5;
}

@media (max-width: 1120px) {
  .videoDetailContainer {
    flex-direction: column;
  }
}