.wrapper {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);;
  backdrop-filter: blur(48px);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.logo {
  width: 48px;
  height: 48px;
}

.logoText {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
}

.formContainer {
  display: flex;
  height: 2.5rem;
}

.formInput {
  width: 27rem;
  padding: .4rem 1rem;
  border: 1px solid var(--color-soft-gray);
  border-radius: 20px 0 0 20px;
  font-size: var(--font-regular);
}

.formInput:focus {
  outline-color: #999;
  width: 32rem;
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  border: 1px solid var(--color-soft-gray);
  border-left: none;
  border-radius: 0 20px 20px 0;
  background: #f0f0f0be;
}

.formButton svg {
  width: 20px;
  height: 20px;
  padding-right: .4rem;
}

.avatarImage {
  width: 44px;
  height: 44px;
  border: 1px solid #999;
  border-radius: 100%;
}

.buttonContainer {
  display: flex;
  gap: .6rem;
  padding: 0rem 2rem .6rem 2rem;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  user-select: none;
  scroll-behavior: auto;
}

.buttonContainer:active {
  cursor: grabbing;
}

.buttonContainer::-webkit-scrollbar {
  display: none; 
}

.button {
  background: #eee;
  border: none;
  border-radius: 20px;
  padding: .4rem 1rem;
  font-weight: var(--weight-regular);
  min-width: max-content;
  flex-shrink: 0;
}

.button:first-child {
  background: var(--color-black);
  color: var(--color-white);
}

.none {
  display: none;
}

@media (max-width: 852px) {
  .formInput {
    width: 17rem;
  }

  .formInput:focus {
    width: 20rem;
  }
}

@media (max-width: 682px) {
  .logoText {
    display: none;
  }

  .formInput {
    width: 10rem;
  }

  .formInput:focus {
    width: 13rem;
  }
}