.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.logo {
  width: 48px;
  height: 48px;
}

.logoText {
  font-size: var(--font-large);
  font-weight: var(--font-semi-bold);
}

.formContainer {
  display: flex;
  height: 2.5rem;
}

.formInput {
  width: 27rem;
  padding: .4rem 1rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 20px 0 0 20px;
  font-size: var(--font-regular);
}

.formInput:focus {
  outline-color: #999;
  width: 32rem;
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  border: 1px solid var(--color-light-gray);
  border-left: none;
  border-radius: 0 20px 20px 0;
  background: #f0f0f0be;
}

.formButton svg {
  width: 20px;
  height: 20px;
  padding-right: .4rem;
}

.avatarImage {
  width: 44px;
  height: 44px;
  border: 1px solid #999;
  border-radius: 100%;
}