.logoContainer {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.logo {
  width: 48px;
  height: 48px;
}

.logoText {
  font-size: var(--font-medium);
  font-weight: var(--font-semi-bold);
}