.channelInfoContainer {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.channelInfoImage {
  border-radius: var(--radius-100);
  width: 40px;
  height: 40px;
}

.channelInfoName {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-video-title);
}

@media (max-width: 390px) {
  .channelInfoImage {
    width: 36px;
    height: 36px;
  }

  .channelInfoName {
    font-size: var(--font-small);
  }
}